<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
		
	<!-- 
		The file below can be used override default properties provided in the Application Context
		files, in particular the jdbc connection parameters which are different in
		staging/test/production environments
	-->
	<bean id="propertyOverrideConfigurer" class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<!-- <property name="order" value="1"/> -->
		<property name="locations">
			<list>
				<value>classpath:/humanResources/${spring.profiles.active}/ApplicationContext.properties</value>
			</list>
		</property>
		<property name="ignoreInvalidKeys" value="false"/>
	</bean>

</beans>
